# For aniframe browser
#db sql
db.sqlite3

# Python
*.py[cod]
*.$py.class

# VS Code
*.vscode
**/.vscode/

# virtual environment
.env/
env/
/.env

# Django
*.log
*.pot
*.pyc
*__pycache__
# *media
*.DS_Store

# Backup Files
*.bak

#static files
React-Django/staticfiles
./staticfiles

# react frontend

# dependencies
browser/aniframe/frontend/node_modules
browser/aniframe/frontend/.pnp
browser/aniframe/frontend/.pnp.js
browser/aniframe/frontend/.pnp.js

# testing
browser/aniframe/frontend/coverage

# production
browser/aniframe/frontend/build

# misc
browser/aniframe/frontend/.DS_Store
browser/aniframe/frontend/.env.local
browser/aniframe/frontend/.env.development.local
browser/aniframe/frontend/.env.browser/aniframe.local
browser/aniframe/frontend/.env.production.local

browser/aniframe/frontend/npm-debug.log*
browser/aniframe/frontend/yarn-debug.log*
browser/aniframe/frontend/yarn-error.log*

# For p5.js widget
browser/p5-widget/p5.js-widget/node_modules
*.bundle.js
*.bundle.js.map
browser/p5-widget/p5.js-widget/p5-widget.js
browser/p5-widget/p5.js-widget/p5-widget.js.map
website


#  For aniframe interpreter
antlr/
.antlr/
__pycache__/

**/.DS_Store
/**/.project
/**/.classpath
/**/.settings/
/**/target
/**/bin

# Visual Studio Generated
.antlr
.fetch_time_cache
.vs/
.vscode/
.gradle/

#IntelliJ Idea project files
.idea/
*.iml
/**/gen
*.tokens
out

# Ignore C# regression temporaries.
**/Generated*/

# Ignore Emacs backup files.
*~
\#*\#

# Ignore downloaded temporaries create by _scripts/get-antlr.ps1
antlr4-*-complete.jar

*.scratch
scratch/
scratch

*.java
!IndentAntlrLexer.java
*.class
*.interp

interpreter/PARSER SRC/AniFrameParser.py
interpreter/PARSER SRC/AniFrameLexer.py
*Listener.py
*Visitor.py

*.tmp
