body {
    margin: 2em;
}

.code {
    font-family: Consolas;
}

div.code {
    background-color: #f2efef;
    width: 50%;
    padding: 1em;
}

.half {
    width: 50%;
}

ol.bold li::marker {
    font-weight: bold;
}

pre {
    margin-bottom: 0;
}