body {
    margin: 5em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.code {
    font-family: Consolas;
}

div.code {
    background-color: #f2efef;
    width: 50%;
    padding: 1em;
}

.half {
    width: 50%;
}

ol.bold li::marker {
    font-weight: bold;
}

pre {
    margin-bottom: 0;
}

ol {
    padding-left: 3.5em;
}