* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    --primary: #3a2547;
    --danger: #be3c3c;
  }

  /* html {
    font-family: 'Courier New', Courier, monospace;
  } */
  body {
    background: #eee;
    margin: 0 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav {
    background-color: var(--primary);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 #0000004d;
  }
  
  .nav h1 {
    color: #fff;
    font-weight: 400;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin: auto -16px;
  }
  
  footer p {
    color: #ccc;
  }

  .code {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 500px;
    margin: 16px;
    float: left;
  }
  .code h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .code p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .delete-btn{
    position: relative;
    float: right;
    margin-right: 10px;
    color: #ffffff;
    border: none;
    width: fit-content;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  /* form {
    position: relative;
    width: 480px;
    margin: 0px 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  } */

.app-body{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.editor {
	width: fit-content;
  margin: 0px 30px 30px 30px;
}

.editor-txt{
  display: none;
}

.btn-div{
  margin: 10px 0px 10px 10px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.btn-primary{
  background-color: #3a2547;
  --bs-btn-hover-bg: #784d93;
  --bs-btn-active-bg: #9862ba;
  border: none;
}

.btn-outline-danger{
  border-color: #be3c3c;
  color: #be3c3c;
  --bs-btn-hover-bg: #be3c3c;
  --bs-btn-hover-color:var("white");
}

.prev-codes{
  height: 350px;
}

/* .btn{
  padding: 10px;
} */

.p5{
    width: 100%;
}
  
